@font-face {
  font-family: ComicTypo;
  src: url('./comic_typo.ttf');
}

* {
  font-family: ComicTypo;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

html {
  background-color: #FFFF99;
  color: black
}

body {
    margin: 0 auto;
    font-size: 1.5em;
    overscroll-behavior-x: contain;
    max-width: 1000px;
}