* {
  font-family: ComicTypo;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

html {
  background-color: #FFFF99;
  color: black
}

body {
  margin: 0;
  font-size: 1.5em;
  overscroll-behavior-x: contain;
}

.apps-bar-container {
    --apps-bar-primary-color: #f20000 !important;
    --apps-bar-secondary-color: #f29100 !important;
}
