.legend-horizontal {
    --legend-height: 50px;
    --legend-border: 4px;
    --shadow-color: #00000077;
    --cursor-width: 35px;
    display: block;
    height: var(--legend-height);
    width: 400px;
    border: var(--legend-border) solid transparent;
    box-sizing: content-box;
    position: relative;
    background-image: linear-gradient(
        to left,
        black 0%,
        red calc(100%*1/7),
        yellow calc(100%*2/7),
        lime calc(100%*3/7),
        cyan calc(100%*4/7),
        blue calc(100%*5/7),
        magenta calc(100%*6/7),
        white 100%
    );
    background-repeat: no-repeat;
    margin: 0 calc(var(--cursor-width)/2);
}

.legend-horizontal::before {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: calc(400px - var(--lower));
    background-color: var(--shadow-color);
    z-index: 0;
}

.legend-horizontal::after {
    position: absolute;
    display: block;
    content: "";
    width: var(--upper);
    height: 100%;
    background-color: var(--shadow-color);
    margin-left: calc(400px - var(--upper));
    z-index: 0;
}

.frame-horizontal {
    display: block;
    border: var(--legend-border) solid black;
    height: calc(100% + var(--legend-border) * 2);
    width: calc(var(--lower) - var(--upper));
    margin-left: calc(400px - var(--lower));
    position: absolute;
    cursor: grab;
    transform: translateY(calc(-1 * var(--legend-border)));
}

.cursor-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-left: calc(400px - var(--distance));
    height: var(--cursor-width);
    width: var(--cursor-width);
    transform: translateX(-50%) translateY(calc((var(--legend-height) - var(--cursor-width))/2 - var(--legend-border)));
    border: var(--legend-border) solid black;
    box-sizing: content-box;
    cursor: grab;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
}